<div class="container-fluid"> 
    <h1>Bienvenido!</h1>
    <p>No muestra lo que esta dentro</p>
    <% "Hola"  %>
    <p>si muestra el "Hola"</p>
    <%= "Hola" %>

    <%[1,2,3,4].each do |number| %>
        <p>Número: <%=number%> </p>
    <%end%>
    <button class="btn btn-primary">Enviar </button>
</div>